.calculator-page{
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 100vw;
    height: calc(100vh - 65px);
    background-color: #f2f2f2;
}
.calculator-page h1{
    padding: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.filter-container{
    display: flex;
    justify-content: 'left';
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100% !important;
    width: 100vw !important;
    padding-left: 25px !important;
    padding-right: 25px !important;
    gap: 20px;
}

.filter-container div{
    min-width: 220px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.calculate-btn-div{
    display: flex;
    justify-content: left;
    align-self: end;
    width: 100%;
}
.calculate-btn{
    background-color: #3078AD !important;
    color: white !important;
    width: 130px !important;
    
}
.col, .row{
    flex-shrink:unset !important;
}
.form-label{
    color: rgb(114, 114, 114);
}
.results-container{
    margin: 20px;
    height: 100%;
}

table th, td.th{
    background-color: #3078AD !important;
    color: white !important;
}